@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$pinkColor: #f9d0ff;
$darkerPink: #f2bbff;
$evenDarkerPink: #ed9fff;
$blueColor: #85aeff;
$darkerBlue: #5f85ff;
$evenDarkerBlue: #3d61dc;

div {
  @include flexCenter();
}

.container {
  width: 100vh;
  height: 100vh;
  @include flexCenter();
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}

.img {
  @include flexCenter();
}

.img img {
  width: 500px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 360px;
}

.avatar {
  width: 100px;
}

form {
  width: 360px;
  flex-direction: column;
  h2 {
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
  }
}

.input-div {
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
}

.input-div::after,
.input-div::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: $blueColor;
}

.input-div::after {
  right: 50%;
}

.input-div::before {
  left: 50%;
}

.input-div.focus .i svg {
  color: $blueColor;
  transition: 0.3s;
}

.input-div.focus div h5 {
  top: -5px;
  font-size: 15px;
  transition: 0.3s;
}

.input-div.focus::after,
.input-div.focus::before {
  width: 50%;
  transition: 0.3s;
}

.input-div.form-error::after {
  color: red($color: #000000);
}

.one {
  margin-top: 0;
}

.two {
  margin-bottom: 4px;
}

.i {
  @include flexCenter();
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
}

.input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
}

small {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: 0.3s;
}

small:hover {
  color: $evenDarkerBlue;
}

.btn {
  color: white;
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin: 1rem 0;
  font-size: 1.2rem;
  outline: none;
  border: none;
  background-image: linear-gradient(
    to right,
    $blueColor,
    $darkerBlue,
    $blueColor
  );
  cursor: pointer;
  background-size: 200%;
  transition: 0.5s;
  text-transform: uppercase;
}

.btn:hover {
  background-position: right;
}

h2 {
  color: #555;
}

@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }

  form h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .img img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .img {
    display: none;
  }
  .container {
    grid-template-columns: 1fr;
  }

  .wave {
    display: none;
  }

  .login-container {
    justify-content: center;
  }
}
